 *{
      margin:0;
      padding: 0;
  }
  
  body{
      text-align:center;
      font-family: 'iA Writer Duospace', monospace;
      font-size: 16px;
      line-height: 1.5;
  }

  i {
    display: inline-block;
    font-style: normal;
    animation: spin 0.25s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

img{
    max-width: 100%;
}